<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <!-- <ion-img src="/assets/2.png"></ion-img> -->
    <ion-card-header>
      <ion-card-subtitle>Comencemos</ion-card-subtitle>
      <ion-card-title>Bienvenido a ICI</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        Ahora que has ingresado a la carrera, es importante tener todas las
        herramientas de la carrera en una sola, podras encontrar todas las cosas
        basicas aqui en los link de abajo
      </p>
    </ion-card-content>
  </ion-card>
  <ion-list lines="none">
    <ion-list-header>
      <ion-label>enlaces</ion-label>
    </ion-list-header>
    <ion-item href="http://www.sibib.ucm.cl/">
      <ion-icon slot="start" color="medium" name="book"></ion-icon>
      <ion-label>Biblioteca Ucm</ion-label>
    </ion-item>
    <ion-item href="http://portal.ucm.cl/estudiantes">
      <ion-icon slot="start" color="medium" name="build"></ion-icon>
      <ion-label>Portal del estudiante</ion-label>
    </ion-item>
    <ion-item href="https://lms.ucm.cl/login/index.php">
      <ion-icon slot="start" color="medium" name="grid"></ion-icon>
      <ion-label>LMS</ion-label>
    </ion-item>
    <ion-item href="http://www.eici.ucm.cl/">
      <ion-icon slot="start" color="medium" name="book"></ion-icon>
      <ion-label>Informacion de Escuela</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
